* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

#search input::-webkit-input-placeholder,
#search input:-ms-input-placeholder,
#search input:-moz-placeholder,
#search input::-moz-placeholder {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !important;
	color: #313131 !important;
}


html {
	height: 100%;
}

body {
	background-color: #FFF;
	height: auto;
	width: 100%;
	margin: 0px;
}

.container {
	margin-top: 100px;
	text-align: center;
}

.menu-element {
	text-align: center;
}

.menu-element a,
.menu-element span {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	color: #313131;
	text-decoration: none;
	width: 200px;
	text-align: center;
	font-size: 1.6em;
	font-weight: 100;
}

.menu-element a:visited,
.menu-element span:visited {
	color: #313131;
	text-decoration: none;
}

.menu-element a:hover,
.menu-element a:active,
.menu-element a:focus,
.menu-element span:hover,
.menu-element span:active,
.menu-element span:focus {
	text-decoration: underline;
	cursor: pointer;
}

.menu-element a:focus,
.menu-element span:focus {
	outline: none;
	text-decoration: none;
}

#search input {
	font-size: 1.1em;
	border: none;
	margin-bottom: 30px;
	text-align: center;
	color: #313131;
	font-weight: 100;
}

.window {
	display: inline-block;
	text-align: left;
	width: 300px;
	font-weight: 100;
	font-size: 1.2em;
	color: #313131;
}

.label {
	display: inline;
	float: left;
}

.value {
	display: inline;
	float: right;
}

.label,
.value,
#search input {
	display: none;
}		