* {
	font-family: 'Open Sans', sans-serif;
}

html {
	height: 100%;
}

body {
	background-color: #FFF;
	min-height: 100%;
	width: 100%;
	margin: 0px;
}

.container {
	margin-top: 100px;
}

.menu-element {
	text-align: center;
}

.menu-element a {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	color: #313131;
	text-decoration: none;
	width: 200px;
	text-align: center;
	font-size: 1.3em;
}

.menu-element a:visited {
	color: #313131;
	text-decoration: none;
}

.menu-element a:hover, .menu-element a:active, .menu-element a:focus {
	text-decoration: none;
	background-color: #313131;
	color: #FFF;
}