* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

html {
	height: 100%;
}

body {
	background-color: #FFF;
	height: auto;
	width: 100%;
	margin: 0px;
}

.container {
	margin-top: 100px;
	text-align: center;
}

.menu-element {
	text-align: center;
	font-style: bold;
}

.menu-element a,
.menu-element span {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	color: #313131;
	text-decoration: none;
	width: 200px;
	text-align: center;
	font-size: 1.6em;
	font-weight: 100;
}

.menu-element a:visited,
.menu-element span:visited {
	color: #313131;
	text-decoration: none;
}

.menu-element a:hover,
.menu-element a:active,
.menu-element a:focus,
.menu-element span:hover,
.menu-element span:active,
.menu-element span:focus {
	text-decoration: underline;
	cursor: pointer;
}

.menu-element a:focus,
.menu-element span:focus {
	outline: none;
	text-decoration: none;
}

.window {
	display: inline-block;
	text-align: left;
	width: 200px;
	font-weight: 100;
	font-size: 1.2em;
	color: #313131;
}

.window #temperature {
	display: inline;
	float: left;
}

.window #value {
	display: inline;
	float: right;
}